@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Quicksand:wght@400;700&display=swap");

:root{
    --primary-color: #202020;
    --secondary-color: #2c2c2c;
    --background-color: #3a3a3a;
    --accent-color: #61edff;
    --text-color: #ffffff;
    --font-family: 'Nunito', sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--text-color);
    background-color: var(--primary-color);
}
body{
    font-family: var(--font-family);
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Quicksand', sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--secondary-color);
}
ul{
    background-color: var(--secondary-color);
    list-style: none;
    display: flex;
    gap: 1rem;
}
li, a{
    background-color: var(--secondary-color);
}
a{
    text-decoration: none;
    color: var(--text-color);
}
main{
    padding: 2rem;
    min-height: 100vh;
}

.hero-div{
    background-image: url("Images/Kaduna.webp");
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
